<section class="additional-content line-up py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
                {{ html | wpautop }}
            </div>
        </div>
    </div>
</section>