#{$sitename-selector} {
    .hero-page {
        margin-top: 250px;
        @include media-breakpoint-down(md) {
            margin-top: calc(150px + 5vw);
        }
        a {
            text-decoration: none !important;
        }
    }
    .post-content {
        @include media-breakpoint-down(md) {
            position: static !important;
        }
    }
    .breadcrumbs{
        a{
            font-weight: normal;
            font-family: $font-family-secondary;
            font-size: 1.05rem;
            text-decoration: none;
        }
    }
}