#{$sitename-selector} {

    .the-content{

        ul, ol{
            color: $color-grey;
            font-weight: 300;
        }

        // SET CLASS WITH WORDPRESS SETTING INTO 
        img{
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;

            &.alignleft{
                float: left;
                margin-right: 15px;
                margin-bottom: 15px;
            }
            &.alignright{
                float: right;
                margin-left: 15px;
                margin-bottom: 15px;
            }
            &.aligncenter{
                display: block;
                margin: 15px auto;
            }
            @include media-breakpoint-down(md){
                display: block;
                float: unset !important;
                margin: 15px auto !important;
            }
        }
    }
}