{% extends "templates/base/index.twig" %}

{% block content %}

	<section class="title-page">
		<div class="container-fluid my-3">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="ht-250 adaptive"></div>
						{% if titling %}
							{% include "components/titling/index.twig" with titling %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
<div class="container-fluid line-up">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% include "organisms/blockList/index.twig" with block_list %}				
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

