<header>
    <section class="bg-color-grey-dark">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-9 col-12">
                    {% include "components/topMenu/index.twig" with header %}
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include "components/navbar/index.twig" with header %}
                </div>
            </div>
        </div>
    </section>
</header>